<!DOCTYPE html>
<html lang="<%= t("hyrax.document_language", default: '') %>" prefix="og:http://ogp.me/ns#">
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
    <%= content_for(:head) %>
  </head>

  <body class="dashboard">
    <%= render '/local/banner/' %>

    <main role="main" id="content">
      <div id="content-wrapper" role="main">
        <div class="sidebar maximized">
          <%= render 'hyrax/dashboard/sidebar' %>
        </div>
        <div class="main-content maximized">
          <%= render_breadcrumbs builder: Hyrax::BootstrapBreadcrumbsBuilder %>
          <%= render '/flash_msg' %>
          <% if content_for?(:page_header) %>
            <div class="row">
              <div class="col-xs-12 main-header">
                <%= yield(:page_header) %>
              </div>
            </div>
          <% end %>

          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div><!-- /#content-wrapper -->
    </main>
    <%= render 'shared/footer' %>
    <%= render 'shared/ajax_modal' %>
    <!-- modal for create new work selection -->
    <%= render '/shared/select_work_type_modal' if create_work_presenter.many? %>

  </body>
</html>
