<!DOCTYPE html>
<html lang="<%= t("hyrax.document_language", default: '') %>" prefix="og:http://ogp.me/ns#">
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
    <%= content_for(:head) %>
  </head>

  <body>
    <%= render '/local/banner/' %>

    <%= content_for(:precontainer_content) %>
    

    <main role="main" id="content">
      <% if controller_name == 'homepage' || controller_name == 'static' %>
         <%= render '/local/image_masthead' %>
      <% end %> 
      <div id="content-wrapper" class="container" role="main">
         <a name="skip_to_content"></a>
          <div class="col-xs-12">
          <%= render '/flash_msg' %>
          <%= render_breadcrumbs builder: Hyrax::BootstrapBreadcrumbsBuilder %>
          <% if content_for?(:page_header) %>
            <div class="row">
              <div class="col-xs-12 main-header">
                <%= yield(:page_header) %>
              </div>
            </div>
          <% end %>

          <% if content_for?(:content) %>
             <%= yield(:content) %>
          <% else %>
             <%= render 'local/static_h1' if controller_name == 'static' %>
             <%= yield %>
          <% end %>
        </div>
      </div><!-- /#content-wrapper -->
    </main>

    <%= render 'shared/footer' %>
    <%= render 'shared/ajax_modal' %>
    <!-- modal for create new work selection -->
    <%= render '/shared/select_work_type_modal' if create_work_presenter.many? %>

  </body>
</html>
